// Fontes
$fontPrincipal: Roboto, sans-serif;

//Cores
$corCinzaClaro: #f5f6fa;
$corAzulEscuro: #182C61;
$corVerdeClaro: #4cd137;
$corVerdeEscuro: #44bd32;


// Breakpoints
$mobile: 767px;
$tablet: 1023px;