// Fontes
$fontPrincipal: Roboto, sans-serif;

//Cores
$corAmareloClaro: #ffb142;
$corAmareloEscuro: #cc8e35;
$corAzulEscuro: #227093;
$corCinzaClaro: #f7f1e3;
$corCinzaMedio: #84817a;
$corCinzaEscuro: #3d3d3c;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;